// Grand Central Station
@import "normalize";
@import "google-homepage";


/* Styling */
body {
    background: #ffffff;
}

//Stage
#stage {
    position: relative;
    overflow: hidden;
}
#stage svg {
    position: absolute;
    bottom: 0;
    right: 0;
}
// CHild
h1 {
    position: absolute;
    margin: 0;
    top: 10px;
    left: 10px;
    
    
}

// Animations
 #stage svg {
    opacity: 0;
    transition: opacity 2.5s;
}
#stage: hover svg {
    opacity: 1;
    
  
    
}
g#Layer_1:hover {
    transform: scale(2) rotate(-45deg);
    transition: transform 1s;
}