// Grand Central Station
@import "normalize";
@import "google-homepage";


/* Styling */
body {
    background: #ffffff;
}

//Stage
#stage {
    position: relative;
}
#stage svg {
    position: absolute;
    bottom: 0;
    right: 0;
}
// CHild
h1 {
    position: absolute;
    font-family: 'Anton', sans-serif;
    margin: 0;
    top: 200px;
    right: 55px;
    
    
}

// Animations
 

    
  
    

img {
    position:absolute;
    left: 100px;
    top: 68px;
    width: 35%;
    height:auto;
}

#stage svg {
    animation: FlagUp 5s 1s infinite alternate-reverse both;
    


}
g#Layer_4 {
    animation: rotateSeals 5s 3s normal linear infinite;
    transform-origin: 50% 50%;
    
}
  

@keyframes rotateSeals {
    0% {
    transform: rotate(0deg);
    
  }
    76% {
    transform: rotate(360deg);
  }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes FlagUp {
    0% { bottom: 273px }
    53% { bottom: 273px }
    75% { bottom: 0px }
    100% {bottom: 0px }
}
