// Grand Central Station
@import "normalize";
@import "google-homepage";


/* Styling */
body {
    background: #ffffff;
}

//Stage
#stage {
    position: relative;
    overflow: hidden;
}
#stage svg {
    position: absolute;
    bottom: 0;
    right: 0;
}
// CHild
h1 {
    position: absolute;
    margin: 0;
    top: 10px;
    left: 10px;
    
    
}

// Animations
 #stage svg {
    opacity: 0;
    transition: opacity 2.5s;
}
#stage: hover svg {
    opacity: 1;
    
  
    
}
img {
    position:absolute;
    left: 100px;
    top: 68px;
    width: 35%;
    height:auto;
}

#stage svg {
    animation: FlagUp 5s 1s infinite alternate-reverse both;
    


}
g#Layer_4 {
    animation: rotateSeals 5s 3s normal linear infinite;
    transform-origin: 50% 50%;
    
}

/*Last Frame*/

#stage:hover svg {
    opacity: 1;
   
}
@keyframes rotateSeals {
    0% {
    transform: rotate(0deg);
    
  }
    76% {
    transform: rotate(-360deg);
  }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes FlagUp {
    0% { bottom: 273px }
    53% { bottom: 273px }
    75% { bottom: 0px }
    100% {bottom: 0px }
}
